$vp1200: 1200px;

// FONT
$font-Gilroy: 'Gilroy', Helvetica, Arial, sans-serif;
// COLOR (наименование по HEX)
$color-RoyalBlue: #5D5FEF;
$color-SlateBlue: #5556D3;
$color-Lavender: #D6D6FF;
$color-AliceBlue: #C7C8FF;
$color-LightSteelBlue: #A5A6F6;

$color-HotPink: #EF5DA8;
$color-Orchid: #F178B6;

$color-LightSeaGreen: #3AC49F;

$color-Black: #000000;
$color-DimGray: #2F2F2F;
$color-SlateGrey: #74767E;
$color-Grey: #868686;
$color-Silver: #B6B6B6;
$color-LightGrey: #CDCDCD;
$color-Gainsboro: #DDDDDD;
$color-WhiteSmoke: #F0F0F0;
$color-WhiteSmoke-2: #EDEDED;
$color-GhostWhite: #F5F5F5;
$color-White: #FFFFFF;