<footer class="footer">
  <div class="footer-bg footer-bg--RoyalBlue">
    <div class="container">
      <div class="footer-main">
        <div class="footer-main__item">
          <a href="/" class="logo logo--white">
            <svg width="137" height="20" aria-hidden="true" focusable="false">
              <use xlink:href="/img/icons/sprite.svg#logo"></use>
            </svg>
          </a>
          <div class="social-media">
            <a class="social-media__icon" href="#" target="_blank">
              <svg width="14.22" height="12.38" aria-hidden="true" focusable="false">
                <use xlink:href="/img/icons/sprite.svg#icon-tg"></use>
              </svg>
            </a>
            <a class="social-media__icon" href="#" target="_blank">
              <svg width="13.88" height="13.88" aria-hidden="true" focusable="false">
                <use xlink:href="/img/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="social-media__icon" href="#" target="_blank">
              <svg width="15.3" height="8.44" aria-hidden="true" focusable="false">
                <use xlink:href="/img/icons/sprite.svg#icon-vk"></use>
              </svg>
            </a>
            <a class="social-media__icon" href="#" target="_blank">
              <svg width="6.68" height="13.08" aria-hidden="true" focusable="false">
                <use xlink:href="/img/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-main__item">
          <ul class="menu-footer">
            <li>
              <a class="link footer-text" href="#">Как работает сервис?</a>
            </li>
            <li>
              <a class="link footer-text" href="#">Советы от SELFMADE</a>
            </li>
            <li>
              <a class="link footer-text" href="#">Пользовательское соглашение</a>
            </li>
            <li>
              <a class="link footer-text" href="#">Почему SELFMADE</a>
            </li>
            <li>
              <a class="link footer-text" href="#">Помощь и поддержка</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bg footer-bg--SlateBlue">
    <hr class="footer-hr">
    <div class="container">
      <div class="footer-second">
        <div class="footer-main__item">
          <span class="footer-text">© SELFMADE.TEAM 2022</span>
          <span class="footer-text footer-text--details">ИНН 431207720494 / ОГРНИП 320508100324371</span>
          <a class="link footer-text footer-text--privacy" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </div>
  </div>
</footer>

</div>

</body>

</html>