<div class="container">
  <header class="header">
    <a href="/" class="logo logo--royalBlue">
      <svg width="120" height="17.52" aria-hidden="true" focusable="false">
        <use xlink:href="img/icons/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="header__lk">
      <button class="button button__notification active">
        <svg width="16" height="18" aria-hidden="true" focusable="false">
          <use xlink:href="img/icons/sprite.svg#icon-bell"></use>
        </svg>
      </button>
      <div class="header__lk_user">
        <span class="header__lk_user-name">Аракелян Д.</span>
        <img class="header__lk_user-avatar" src="img/images/avatar.png" alt="avatar">
      </div>
    </div>
  </header>
</div>