<nav class="navigation navigation-lk">
  <ul>
    <li class="navigation-lk__item navigation-lk__item--main active">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="fill" width="16" height="18" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-person"></use>
          </svg>
        </span>
        <span>Управление</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="stroke" width="21" height="21" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-group"></use>
          </svg>
        </span>
        <span>Портфолио</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="stroke" width="22" height="21" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-star"></use>
          </svg>
        </span>
        <span>Награды</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="stroke" width="20" height="17" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-heart"></use>
          </svg>
        </span>
        <span>Избранное</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="fill stroke" width="22" height="22" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-gear"></use>
          </svg>
        </span>
        <span>Аккаунт</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="fill" width="18" height="20" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-chart"></use>
          </svg>
        </span>
        <span>Уровень</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="stroke" width="22" height="18" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-crown"></use>
          </svg>
        </span>
        <span>Премиум</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--main">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="fill" width="20" height="18" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-chat"></use>
          </svg>
        </span>
        <span>Поддержка</span>
      </a>
    </li>
    <li class="navigation-lk__item navigation-lk__item--exit">
      <a href="#">
        <span class="svg-wrapper">
          <svg class="fill" width="19" height="20" aria-hidden="true" focusable="false">
            <use xlink:href="/img/icons/sprite.svg#icon-exit"></use>
          </svg>
        </span>
        <span>Выйти</span>
      </a>
    </li>
  </ul>
</nav>