* {
  box-sizing: border-box;
}
body {
  font-family: $font-Gilroy;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.container {
  max-width: $vp1280;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.invisible {
  opacity: 0;
  height: 0;
  font-size: 0;
  position: absolute;
    top: -1px;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-align-center {
  align-items: center;
}