.logo {
  &:hover {
      transform: scale(1.2);
      transition: $animate;
    }
  &--royalBlue {
    svg {
      fill: $color-RoyalBlue;
    }
        }
  &--white {
    svg {
      fill: $color-White;
    }
  }
}