@keyframes visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes progressSR {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: var(--strokeDashOffsetValue);
  }
}

@keyframes animate-bell {
  0% {
    transform: rotate(0deg);
    margin-left: 0px;
  }

  25% {
    transform: rotate(3deg);
    margin-left: 1px;
  }

  50% {
    transform: rotate(0deg);
    margin-left: 0px;
  }

  75% {
    transform: rotate(-3deg);
    margin-left: -1px;
  }

  100% {
    transform: rotate(0deg);
    margin-left: 0px;
  }
}