.popper-tooltip {
  display: none;
  padding: 6px 8px;

  max-width: 200px;
  min-width: 90px;
  text-align: center;

  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  color: $color-White;

  background: $color-DarkSlateGrey;
}

.popper-tooltip[data-show] {
  display: block;
}

.popper-arrow,
.popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popper-arrow {
  visibility: hidden;
}

.popper-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.popper-tooltip[data-popper-placement^='top']>.popper-arrow {
  bottom: -4px;
}

.popper-tooltip[data-popper-placement^='bottom']>.popper-arrow {
  top: -4px;
}

.popper-tooltip[data-popper-placement^='left']>.popper-arrow {
  right: -4px;
}

.popper-tooltip[data-popper-placement^='right']>.popper-arrow {
  left: -4px;
}