.your-sr {
  width: 100%;
  max-width: 270px;
  height: fit-content;
  padding: 28px 16px;

  background: $color-WhiteSmoke;
  border-radius: 15px;

  h2 {
    margin: 0px 0 6px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $color-DimGray;
  }
}

.your-sr__svg {
  fill: none;
  height: 241px;
  width: 242px;
  transform: rotate(90deg);

  .your-sr__circle {
    fill: none;
    stroke: $color-Gainsboro;
    stroke-width: 1.5;
    user-select: none;
  }

  .your-sr__progress {
    fill: none;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    stroke-width: 1.5;
    animation: progressSR 2s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
    cursor: pointer;
    user-select: none;
    appearance: none;
  }

  .your-sr__text {
    fill: $color-WhiteSmoke;
  }

  .your-sr__text-top {
    position: relative;
    transform: rotate(-90deg) translateY(0);
    font-weight: 600;
    font-size: 2px;
    fill: $color-HotPink;
    opacity: 0;
    animation: visibleTop 2s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
  }

  .your-sr__text-pro {
    transform: rotate(-90deg);
    font-weight: 700;
    font-size: 5.6px;
    fill: $color-RoyalBlue;
    opacity: 0;
    animation: visible 1.5s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
  }

  .your-sr__text-all {
    transform: rotate(-90deg) translateY(0);
    font-weight: 500;
    font-size: 2.6px;
    fill: #717171;
    opacity: 0;
    animation: visibleBottom 2s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;
    will-change: animation;
  }
  
}

.your-sr__raiting {
  margin: 16.11px auto 0;
  width: fit-content;
  animation: visible 2s cubic-bezier(0.4, 0, 0.2, 1) 1 forwards;

  .scores {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $color-RoyalBlue;
  }

  .all-scores {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.51px;
    color: #717171;
  }
}